name: cicd

on: 
  push:
  pull_request:

jobs:
  code-scan:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.14
        uses: actions/setup-python@v5
        with:
          python-version: 3.14

      - name: Install dependencies
        run: pip install --no-cache-dir -U pip ruff mypy

      - name: Lint and security check with Ruff
        run: ruff check img_sanitizer tests

      - name: Check code formatting with Ruff
        run: ruff format --check img_sanitizer tests

      - name: Check code typing with Mypy
        run: mypy img_sanitizer --strict

  pytest:
    needs: code-scan
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.14

      - name: Install build dependencies
        run: pip install --no-cache-dir -r requirements.txt

      - name: Run tests
        run: pytest -q

  build-packages:
    needs: pytest
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.14

      - name: Get version
        id: get_version
        run: |
          version=$(grep '^__version__' img_sanitizer/__init__.py | cut -d'"' -f2)
          echo "version=${version}" >> $GITHUB_OUTPUT

      - name: Create Tag
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git tag v${{ steps.get_version.outputs.version }}
          git push origin v${{ steps.get_version.outputs.version }}

      - name: Create GitHub Release
        id: create_release
        uses: actions/create-release@v1
        with:
          tag_name: v${{ steps.get_version.outputs.version }}
          release_name: Release v${{ steps.get_version.outputs.version }}
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Install build dependencies
        run: pip install --no-cache-dir -U pip . build

      - name: Build package
        run: python -m build --sdist --wheel
      - name: Upload built distributions
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist

      - name: Install release dependencies
        run: pip install --no-cache-dir -U pip . twine packaging

      - name: Upload to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
